/* nav related styles */
nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
body{
   
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800; font-family: 'Open Sans', sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav h3 .text-primary{
    color: #FD6E0A;
}
nav a{
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 30px;
}
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .pic{
    width: 500px;
    /* height: 600px; */
}